Hello World <%= current_user.email %>

<%# @user.chapter.each do |chapter| %>
<!--   <li><h3><%#= chapter.title %></h3> -->
 <%#= link_to "Edit", edit_chapter_path(chapter) %>
 <%#= link_to "Delete", chapter_path(chapter), method: 'delete' %>
 <%# end %>

<!--  <h5>Add chapter</h5> -->

 <%#= render 'form' %>

<%#= link_to "Home", root_path %>