<div class="row_fluid">
	<div class="span4 well">
		<%= form_for @chapter do |f| %>
  			<%= f.label :title %>
  			<%= f.text_field :title %>
  			<div class="form-actions">
  			<%= f.submit %>
  			</div>
		<% end %>
	</div>
</div>